.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 5px #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.play-button {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  font-family: 'Lobster', cursive;
  padding: 0.3em;
  background-color: #4ECCA3;
  color: #393E46;
  border: 0px;
  border-radius: 0.5em;
  box-shadow: 5px 5px #232931;

}

.pressed {
  background-color: #2b8b6b;
  color: #232931;
}